<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TH4C6KNJ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PINGIP.ORG</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/PINGIP_ORG.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> *@
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-923EKBSGT4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-923EKBSGT4');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7108910261273960"
            crossorigin="anonymous"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TH4C6KNJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="navbar-ml ml-navbar-grid-container bg-primary">
        <div class="navbar-ml-left">
            <i id="navbar-ml-menu" class="bi-list navbar-ml-menu"></i>
        </div>
        <div class="navbar-ml-center navbar-ml-title">PINGIP.org</div>
        @* <div class="navbar-ml-right">
            <form class="d-flex" role="search">
                <input class="form-control me-2 navbar-ml-right-search" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div> *@
        <div class="navbar-ml-right">
            <a href="https://github.com/manpinn/PINGIP_ORG" target="_blank" class="github-link">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" width="30" height="30" />
            </a>
        </div>

    </div>

    <div class="ml-sidebar-content">
        <div id="ml-sidebar" class="ml-sidebar">
            <div class="ml-sidebar-scroll">
                <!-- content of the sidebar -->
                <p style="color:lightgray; margin-left:10px; margin-top:10px;">Tools</p>
                <p>@Html.ActionLink("Ping IP", "Index", "Home", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
                <p>@Html.ActionLink("Port Check", "Index", "PortCheck", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
                <p>@Html.ActionLink("TraceRoute", "Index", "TraceRoute", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
                <p>@Html.ActionLink("My IP", "Index", "MyIP", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
                <p style="height:2px; background-color:lightgray; margin-left:10px; margin-right:10px;"></p>
                <p style="color:lightgray; margin-left:10px;">Information</p>
                <p>@Html.ActionLink("About", "About", "Home", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
                <p>@Html.ActionLink("Legal", "Legal", "Home", null, new { @class = "btn btn-light btn-lg ml-sidebar-button" })</p>
            </div>
        </div>
        <div class="container-ml" style="margin-left:10px; margin-right:10px;">
            <div class="ml-main">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="padding-bottom: 4rem !important;">
                    <div class="col-md-5 d-flex align-items-center">
                        <span class="mb-3 mb-md-0 text-primary" style="margin-right:20px;">© @DateTime.Now.Year Mario Kozlovac</span>
                        <span class="mb-3 mb-md-0" style="margin-right:20px;">
                            @Html.ActionLink("About", "About", "Home", null, new { @class = "icon-link icon-link-hover bi-clipboard" })
                        </span>
                        <span class="mb-3 mb-md-0">
                            @Html.ActionLink("Legal", "Legal", "Home", null, new { @class = "icon-link icon-link-hover bi-clipboard" })
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script>
        const mediaQuery = window.matchMedia('(max-width: 1000px)');

        const main = document.querySelector('.container-ml');

        const sidebar = document.querySelector('.ml-sidebar');

        function showSidebar() {
            sidebar.style.width = '200px';
            sidebar.style.opacity = '1';
            sidebar.classList.add('active');

            main.style.marginLeft = '210px';
            main.classList.add('active');
        }

        function hideSidebar() {
            sidebar.style.width = '0px';
            sidebar.style.opacity = '0';
            sidebar.classList.remove('active');

            main.style.marginLeft = '10px';
            main.classList.remove('active');
        }

        function handleMediaQueryChange(event) {
            if (event.matches) {
                // Media query matches (screen width is 1000px or less)
                sidebar.style.width = '0px';
                sidebar.style.opacity = '0';
                sidebar.style.transition = 'width 0.3s ease-in-out, opacity 0.3s ease-in-out';
                sidebar.classList.remove('active');

                main.style.marginLeft = '10px';
                main.style.transition = 'margin-left ease 0.3s';
                main.classList.remove('active');
            } else {
                // Media query does not match (screen width is greater than 1000px)
                sidebar.style.width = '';
                sidebar.style.opacity = '';
                sidebar.style.transition = '';
                sidebar.classList.add('active');

                main.style.marginLeft = '210px';
                main.classList.remove('active');
            }
        }

        mediaQuery.addListener(handleMediaQueryChange);

        handleMediaQueryChange(mediaQuery);

        document.getElementById('navbar-ml-menu').addEventListener('click', function () {
            if (sidebar.classList.contains('active')) {
                hideSidebar();
            } else {
                showSidebar();
            }
        });

        document.getElementsByClassName('container-ml')[0].addEventListener('click', function () {
            if (window.innerWidth < 1000 && sidebar.classList.contains('active')) {
                hideSidebar();
            }
        });






    </script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
